#If you still facing accessability issue during SSH, then create a ansible.cfg file 
#in the top level directory, with the following content
[defaults]
host_key_checking = false
remote_user = ubuntu #dont delete this, for some reasons it makes connection to work!!!!